*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenido section {
    width: 35%;
    float: left;
    padding: 2%;
    border: 1px dashed black;
    margin-left: 40px;
}

#contenido section article div {
    height: 100px;
    overflow: auto;
}

article {
    text-align: justify;
}

article>div {
    padding: 5px;
}

aside {
    background-color: aquamarine;
    min-height: 450px;
    width: 18%;
    float: right;
    border: 1px solid black;
    border-color: white;
}

aside section {
    text-align: center;
    margin: 1px;
    border-radius: 20px;
    min-height: 150px;
}

footer {
    background-color:aqua;
    color:white;
    text-align: center;
    padding:7px;
    border-radius:0px 0px 20px 20px;
}
